.song-image {
	width: 12rem;
}
.card {
    background-color: gainsboro;
    border-color: black;
}
body {
    background-color: gainsboro;
    cursor: crosshair
}
button:hover {
    cursor: crosshair;
}